doctype html
html
  head
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/index.js')
    title ASSWARP SCOREBOARD
  body
    h1 ASSWARP SCOREBOARD
    div
      div.inlineBlock
        span Team Black:
          div#black
          div#black-score
        br
        span Team Yellow:
          div#yellow
          div#yellow-score
        br
        